<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Update Household</title>
</head>
<body>
    <header class="navbar p-3">
        <h1>Chore Tracker</h1>
        <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
        <a href="/user/home" class="btn btn-secondary">Dashboard</a>
        <a href="/logout" class="btn btn-secondary">Logout</a>
    </header>
    <div class="d-flex justify-content-around mt-3">
        <form action="/household/update" method="post" class="col-6 p-6">
            <h2>Edit {{household.family_name}} Household</h2>
            {% with messages = get_flashed_messages(category_filter=["regError"]) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="family_name">Family Name:</label>
                <input type="text" name="family_name" value = '{{household.family_name}}'class="form-control">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" class="form-control" value="{{household.location}}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" class="form-control">{{household.description}}</textarea>
            </div>

            <input type="submit" value="Update Household" class="btn btn-secondary m-3">
        </form>
    </div>
</body>
</html>